@model StudentCatalog.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="grayBox">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(x => x.StudentId)
        @Html.Partial("_StudentCreateEditView")
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
